# Ignore everything by default
*

# Unignore tracked files
!.gitignore
!README.md
!LICENSE
!portable_job_scraper.py
!render_base_cv.py
!criteria.md
!cv_tailoring_prompt.md
!igor_pivnyk_cv_base_updated.tex
!igor_pivnyk_cv_base_updated.pdf
!pipeline.py
!requirements.txt
!test_one_page_guard.py
# seen_jobs.json is NOT tracked on main — it lives on the orphan `state` branch.

# Unignore GitHub Actions workflow directory
!.github/
!.github/**
